{% extends "base.html" %}
  {% block title %}Home{% endblock %}
  {% block sub_content %}
    {% include '_carousal.html' %}
    {% block container %}
    <div class="container">
      <h1><center>About Hostel</center></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Eget nunc lobortis mattis aliquam faucibus purus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Aliquam etiam erat velit scelerisque in. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Purus semper eget duis at tellus at. Hendrerit dolor magna eget est lorem ipsum dolor sit. Tellus id interdum velit laoreet id donec ultrices.</p>
    </div>
    {% endblock %}
  {% endblock %}
